/**
 *  @author linbin
 *  @content golbal colors and margin and paddings
 */
@charset "utf-8";
/**
 *   golbal colors
 */
$red: #ee2a7b;
$pur: #663399;
$lpur: #833790;
$gray: #787878;
$bdc: #e5e5e5;
$st: "\5B8B\4F53";
$yh: "\5FAE\8F6F\96C5\9ED1";
$px: 0px;

.mt15 {
	margin-top: 15px;
}